{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "ignorePatterns": ["public", ".cache", "node_modules"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "strict": 0,
    "no-console": 1
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
  
}
